@font-face {
    font-family: dfds_bold;
    src: url(dfds-bold.ttf);
}

body {
    background-color: #eaedee;
    margin: 0em;
    margin-top: 9em;
    min-width: 10em;
}

header {
    z-index: 3;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
}

h1 {
    padding-left: 1em;
    padding: 0.5em;
    font-family: dfds_bold;
    color: #FFFFFF;
    background-color: #012e45;
    width: 16%;
}

nav {
    display: flex;
}

a:nth-child(1) {

    margin-top: -5.3em;
    margin-left: 90%;
    position: absolute;

}


img:nth-child(1) {
    width: 65%;
    height: auto;
}

form {
    width: 50%;
}

select {
    text-align: center;
    padding: 1em 2em;
    width: 100%
}

article {
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 80%;
    min-width: 20%;
}

article header {
    z-index: 1;
    margin: 1em;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}


article header img:nth-child(even) {
    width: 10%;
    height: 10%;
    margin-left: 4%;
    margin-top: -4.5em;
}

h2 {
    font-family: dfds_bold;
    padding-top: 2em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}


article header img:nth-child(odd) {
    width: 10%;
    height: 10%;
    margin-left: 71%;
    margin-top: -5em;

}

header p {
    height: auto;
    min-width: 10%;
    margin-left: 89%;
}

article a {
    z-index: 1;
    display: block;
    border-top: 1px solid black;
}

article a img {
    height: auto;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
